body { 
    background-color: #f5eaf8;
    color: #30243a;
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
    line-height: 1.6;
}

h1 {
    background-color:linear-gradient(90deg,#4b2c5c, #8064a2);
    color:rgb(86, 30, 96);
    text-align: center;
    padding: 22px;
    border-radius: 15px;
    font-size: 38px;
    margin: 25px auto;
    max-width: 900px;
}

h2 {
    color: #604070;
    text-align: center;
    font-size: 23px;
    margin-top: 30px;
}

p {
    background-color: white;
    padding: 18px;
    border-radius: 12px;
    margin: 20px auto;
    max-width: 800px;
}

img {
    display: block;
    max-width: 1000px;
    margin: 25px auto;
    border-radius: 15px;
    max-width: 750px;

}

table {

   width: 80%;
   border-collapse: collapse;
   font-family: Arial, sans-serif;
   background-color: #ffffff;
   border-radius: 15px;
   overflow: hidden;
   margin: 30px auto;

}

th {
  
    background: linear-gradient(90deg, #9b59b6, #d8a4ff);
    color: white;
    padding: 15px;
    text-align: center;

}

td {
    padding: 13px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #4b286d;

}

tr:hover {

    background-color: #f4e8ff

}

td:fisrt-child {

   font-weight:bold;

}

body {
    font-family: Arial, sans-serif;
    background: f3eafa;
    margin: 0;
    padding: 30px;

}

.conteiner {
      max-width: 800px;
      margin: auto;
      background: white;
      padding: 30px;
      border-radius: 20px;
      box-shadow: 0 5px 20px #ccc;

}

h1 {
    text-align: left;
    color: #6b3fa0;
    margin-left: 30px;
}

h2 {
    color: #6b3fa0;
    margin-top: 30px;
}

.questão {
    margin-bottom: 25px;
    padding: 20px;
    background: #faf7ff;
    border-radius: 15px;

}

label {
    display: block;
    margin: 10px 0;
    cursor: pointer;

}

input[type="radio"] {
    margin-right: 8px;

}
 input[type="checkbox"]  {
    margin-right: 8px;

 }

 button {
    display: block;
    margin: 30px;
    padding: 13px 30px;
    border: none;
    border-radius: 10px;
    background: #6b3fa0;
    color: white;
    font-size: 16px;
    cursor: pointer;

 }

 button:hover {
    background: #4f2d7a;
 }