body { 
    background-color: #ac94bc;
    color: #30243a;
    font-family:Arial, Helvetica, sans-serif ;
    margin: 40px;
    line-height: 1.6;
}

h1 {
    background-color: #6f3b8f;
    color:white;
    text-align: center;
    padding: 25px;
    border-radius: 12px;
    font-size: 40px;
}

h2 {
    color: #6f3b8f;
    text-align: center;
    margin-top: 30px;
}

p {
    background-color: rgb(226, 123, 211);
    padding: 18px;
    border-radius: 10px;
    margin: 20px;
    max-width: 900px;
}

img {
    display: block;
    max-width: 1000px;
    margin: 25px auto;
    border-radius: 15px;


}